@import "h5bp.css";
@import "bootstrap.css";

body {
  font-size: 110%;
}

a {
  cursor: pointer;
}

.header {
  width: 100%;
}
.header td {
  vertical-align: middle;
}
.header-right {
  width: 5%;
  white-space: nowrap;
}

.observer-controls {
  margin-top: 1em;
}

.observer-controls a {
  margin-right: 1em;
}